* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
}

#app {
  max-width: 700px;
  margin: auto;
  padding: 5px;
}

#app .filter-form {
  /* height: 45px; */
  display: flex;
  align-items: center;
}

#app .filter-form .search-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #fff;
  flex-grow: 1;
  border-radius: 3px;
}

#app .filter-form .search-container input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  margin: 0 auto;
  border-radius: 3px;
}

#app .filter-form .sort-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* border-left: 1px solid gray; */
  padding: 5px;
  margin-left: 5px;
}

#app .filter-form .sort-container label {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}

#app .filter-form .search-container input,
#app .filter-form .sort-container select {
  height: 40px;
  font-size: 1em;
}

#app .list {
  width: 100%;
}

#app .list .item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 8px 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app .list .item .dhatu-details,
#app .list .item .vritti-details {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#app .list .item .dhatu-details {
  font-size: 1.1em;
}

#app .list .item .vritti-details {
  margin-top: 10px;
  text-align: center;
}

#app .list .item .dhatu-details .dhatu {
  font-weight: bold;
}

#app .list .item .vritti-details .vritti-name {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 5px;
}

#app .list .item .dhatu-details > div,
#app .list .item .vritti-details > div {
  margin: 10px;
}

@media (min-width: 650px) {
  #app .list .item {
    flex-direction: row;
  }

  #app .list .item .dhatu-details {
    flex-grow: 1;
  }

  #app .list .item .vritti-details {
    margin-top: 0;
    margin-left: 10px;
  }
}
