<div
  class="modal fade"
  id="contact-us-modal"
  tabindex="-1"
  aria-labelledby="contact-us-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-surface rounded-1">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="contact-us-modal-label">Contact Us</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-6 fw-bold">Amba P. Kulkarni</p>
        <p>
          Professor,
          <br />
          Department of Sanskrit Studies,
          <br />
          University of Hyderabad,
          <br />
          Hyderabad, Telangana, India.
        </p>
        <p><a href="mailto:ambapradeep@gmail.com">ambapradeep@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
