<div class="align-items-center d-flex my-2">
  <div style="min-width: 15%">
    <label for="{{ id }}-select" class="me-2 fw-bold">{{ label }}</label>
  </div>
  <div class="flex-grow-1">
    <select
      id="{{ id }}-select"
      name="{{ id }}-select"
      class="form-select rounded-1"
      data-filter-by="{{ id }}"
    >
      <option value="" selected></option>

      <each loop="option in {{{ options }}}">
        <option value="{{ option }}">{{ option }}</option>
      </each>
    </select>
  </div>
</div>
