<div
  class="modal fade"
  id="dhatu-details-modal"
  tabindex="-1"
  aria-labelledby="dhatu-details-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-surface rounded-1">
      <div class="modal-header sticky-top bg-surface rounded-top-1">
        <h1 class="modal-title fs-4" id="dhatu-details-modal-label"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
