<template id="dhatu-list-item">
  <a
    href="#"
    class="list-group-item list-group-item-action p-1"
    data-slot="item-id"
    data-bs-toggle="modal"
    data-bs-target="#dhatu-details-modal"
  >
    <div class="align-items-center d-flex flex-column flex-md-row text-center">
      <div class="p-1 w-100" style="font-size: 1.1rem">
        <span class="fw-bold" data-slot="dhatu"> </span>
        <span data-slot="meaning"></span>
      </div>

      <div class="d-flex justify-content-between" style="font-size: 1.1rem">
        <div class="m-2" data-slot="gana"></div>
        <div class="m-2" data-slot="padi"></div>
        <div class="m-2" data-slot="it"></div>
      </div>

      <hr class="border-divider d-block d-md-none m-0 w-75" />

      <div class="d-flex justify-content-evenly ms-2 w-100">
        <div class="m-2">
          <div class="vritti-name mb-1 text-muted" style="font-size: 0.9rem">
            माधवीयधातुवृत्तिः
          </div>
          <div data-slot="madhaviyaId"></div>
        </div>
        <div class="m-2">
          <div class="vritti-name mb-1 text-muted" style="font-size: 0.9rem">
            क्षीरतरङ्गिणी
          </div>
          <div data-slot="kshirataranginiId"></div>
        </div>
        <div class="m-2">
          <div class="vritti-name mb-1 text-muted" style="font-size: 0.9rem">
            धातुप्रदीपः
          </div>
          <div data-slot="dhatupradipaId"></div>
        </div>
      </div>
    </div>
  </a>
</template>
