<template id="template-dhatu-list-item">
  <a
    href="#"
    class="list-group-item list-group-item-action p-1 position-relative"
    data-slot="item-id"
  >
    <button
      class="btn btn-transparent btn-sm position-absolute"
      data-action="locate"
      style="top: 5px; left: 5px"
      title="Locate this on the list"
    >
      <span data-icon="locate">
        <i class="bi bi-geo-alt-fill"></i>
      </span>

      <span data-icon="spinner" class="_hidden">
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Loading...</span>
      </span>
    </button>

    <div class="align-items-center d-flex flex-column flex-md-row text-center">
      <div class="p-1 w-100" style="font-size: 1.1rem">
        <span class="fw-bold" data-slot="dhatu"> </span>
        <span data-slot="meaning"></span>
      </div>

      <div class="d-flex justify-content-between" style="font-size: 1.1rem">
        <div class="m-2" data-slot="gana"></div>
        <div class="m-2" data-slot="padi"></div>
        <div class="m-2" data-slot="it"></div>
      </div>

      <hr class="border-divider d-block d-md-none m-0 w-75" />

      <div class="d-flex justify-content-evenly ms-md-2 w-100">
        <div class="m-2">
          <div class="vritti-name mb-1 text-muted" style="font-size: 0.9rem">
            माधवीयधातुवृत्तिः
          </div>
          <div class="badge" data-slot="madhaviyaId"></div>
        </div>
        <div class="m-2">
          <div class="vritti-name mb-1 text-muted" style="font-size: 0.9rem">
            क्षीरतरङ्गिणी
          </div>
          <div class="badge" data-slot="kshirataranginiId"></div>
        </div>
        <div class="m-2">
          <div class="vritti-name mb-1 text-muted" style="font-size: 0.9rem">
            धातुप्रदीपः
          </div>
          <div class="badge" data-slot="dhatupradipaId"></div>
        </div>
      </div>
    </div>
  </a>
</template>
