<div
  class="offcanvas offcanvas-start"
  style="width: 300px"
  tabindex="-1"
  id="view-options"
  aria-labelledby="view-options-title"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title h5" id="view-options-title">Options</h1>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <div>
      <component
        src="/commons/components/sort-select.html"
        id="sort-select"
        label="Sort by"
        options='[["gana", "गणः"], ["dhatu", "धातु"], ["artha", "अर्थ"]]'
      ></component>
    </div>

    <div id="view-filters" class="mt-4">
      <div>
        <h2 class="h6 fw-bold">Filter by</h2>
      </div>

      <component
        src="/commons/components/filter-select.html"
        id="vritti"
        label="वृत्तिः"
        options='["माधवीयधातुवृत्तिः", "क्षीरतरङ्गिणी", "धातुप्रदीपः"]'
      ></component>

      <component
        src="/commons/components/filter-select.html"
        id="gana"
        label="गणः"
        options='[
          "भ्वादिः", "अदादिः", "जुहोत्यादिः", "दिवादिः", "स्वादिः",
          "तुदादिः", "रुधादिः", "तनादिः", "क्र्यादिः", "चुरादिः"
        ]'
      ></component>

      <component
        src="/commons/components/filter-select.html"
        id="padi"
        label="पदि"
        options='["परस्मैपदी", "आत्मनेपदी", "उभयपदी"]'
      ></component>

      <component
        src="/commons/components/filter-select.html"
        id="it"
        label="इट्"
        options='["सेट्", "अनिट्", "-"]'
      ></component>
    </div>
  </div>

  <div class="offcanvas-footer d-flex justify-content-stretch">
    <button
      type="button"
      id="reset-view-options-btn"
      class="btn btn-outline-primary flex-grow-1"
    >
      Reset
    </button>
  </div>
</div>
