@import "./commons/commons";

button {
  font-family: inherit;
  font-size: inherit;
}

#app mark {
  padding: 0;
}

#app ._hidden {
  display: none;
}

#app .icon svg {
  // From BS icons css file
  vertical-align: -0.125em;
}

#app .input-group:focus-within {
  border-color: #{$input-focus-border-color};
  box-shadow: #{$input-focus-box-shadow};
  transition: #{$input-transition};
}

#app #search-form-container {
  transition: background-color 0.15s ease-in-out;
}

#app #search-form-container.pinned {
  @extend .bg-primary;
}

#app #dhatu-list .list-group-item-action:focus,
#app #dhatu-list .list-group-item-action.focus {
  outline: none;
  border-color: #{$input-focus-border-color};
  box-shadow: #{$input-focus-box-shadow} inset;
  transition: #{$input-transition};
}

#app #dhatu-list._initial [data-action="locate"] {
  display: none;
}
