@import "bootstrap.scss";

:root {
  --bg: #f0f0f0;
  --card-bg: #ffffff;
  /* --bg-card-hover: #f8f9fa; */
  --card-hover-bg: #f4f5f7;
  /* --card-hover-bg: rgb(238, 238, 238); */
  --card-corner-radius: 3px;
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --divider-color: #e7e7e7;
  --mark-bg: #ffff00;
  --mark-text: #000000;
}

body.modal-open {
  overflow: hidden;
}

button {
  font-family: inherit;
  font-size: inherit;
}

mark {
  background-color: var(--mark-bg);
  color: var(--mark-text);
}

#app .loader {
  margin: 10px 0;
  text-align: center;
}

#app .loader.hidden {
  display: none;
}

#app .dhatu-all-details h3 {
  padding: 5px 0;
  border-bottom: 1px solid #e7e7e7;
}

#app .dhatu-all-details .content .link {
  padding: 10px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: var(--card-corner-radius);
  margin: 5px;
  font-size: 0.9em;
  text-decoration: none;
  transition: background-color 0.3s;
}

#app .dhatu-all-details .content .link:hover {
  background-color: var(--card-hover-bg);
}

#app .dhatu-all-details .basic-info {
  font-size: 1.1em;
}

#app .dhatu-all-details .basic-info > * {
  margin: 10px 0;
}

#app .dhatu-all-details .basic-info .name {
  font-weight: bold;
  margin-right: 10px;
  min-width: 10%;
  display: inline-block;
}

#app .dhatu-all-details .vrittis details {
  border: 1px solid #aaa;
  border-radius: var(--card-corner-radius);
  margin: 5px auto;
  word-break: break-word;
}

#app .dhatu-all-details .vrittis summary {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

#app .dhatu-all-details .vrittis details[open] summary {
  border-bottom: 1px solid #aaa;
}

#app .dhatu-all-details .vrittis details[open] .content {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  line-height: 1.5;
}

#app .dhatu-all-details .graph .content,
#app .dhatu-all-details .forms .content {
  text-align: center;
}

#app .dhatu-all-details .graph .content .image {
  max-height: 500px;
}

#app .dhatu-all-details .graph .content .image img {
  max-height: inherit;
  width: auto;
  max-width: 100%;
  padding: 10px 0;
}

.scroll-to-top {
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  font-size: 1.1rem;
  border: none;
  outline: none;
  box-shadow: var(--card-shadow);
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  color: #0e0e0e;
  background-color: #c9c9c9;
}

// @media (min-width: 650px) {
//   #app .list .item {
//     flex-direction: row;
//   }

//   #app .list .item .dhatu {
//     width: 100%;
//   }

//   #app .list .item .dhatu-details {
//     margin-top: 0;
//     flex-grow: 1;
//   }

//   #app .list .item .vritti-details {
//     margin-top: 0;
//     margin-left: 10px;
//     border-top: 0;
//   }
// }
